    .slide__container {
        width: 100%;
        /* padding: 2rem 0; */
    }
    
    .slider {
        appearance: none;
        width: 100%;
        height: 0.5rem;
        border-radius: 1rem;
        background: hsl(224, 65%, 95%);
        outline: none;
    }
    
    .slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 2.125rem;
        height: 2.125rem;
        background: url('../../images/icon-slider.svg');
        background-repeat: no-repeat;
        background-color: hsl(174, 86%, 45%);
        background-position: center;
        border-radius: 50%;
        cursor: pointer;
        box-shadow: 0rem 0.75rem 1.5rem hsl(174, 86%, 45%);
    }